.mL {
    margin-left: auto !important;
}

.mR {
    margin-right: auto !important;
}

/*header starts*/

header {
    min-height: 200px;
    background-color: dimgray;
}

.box1 {
    min-height: 165px;
    background-color: cadetblue;
    margin-top: 40px;
    border: 3px solid black;

}

.box1_2 {
    min-height: 70px;
    background-color: cadetblue;
    margin-top: 40px;
    margin-bottom: 0px;
    border: 3px solid black;
}

.box1_3 {
    min-height: 70px;
    background-color: cadetblue;
    margin-top: 25px;
    margin-bottom: 20px;
    border: 3px solid black;
}

.box1_4 {
    min-height: 70px;
    background-color: cadetblue;
    margin-top: 25px;
    margin-bottom: 20px;
    border: 3px solid black;
}

/*header ends*/

/*content starts*/

#content {
    min-height: 700px;
    background-color: darkgray;
}

.box2_1 {
    min-height: 400px;
    background-color: cadetblue;
    margin-top: 40px;
    border: 3px solid black;
}

.box2_2 {
    min-height: 100px;
    background-color: cadetblue;
    margin-top: 40px;
    border: 3px solid black;
}

.box2_3 {
    min-height: 100px;
    background-color: cadetblue;
    margin-top: 40px;
    border: 3px solid black;
}

.box2_4 {
    min-height: 180px;
    background-color: cadetblue;
    margin-top: 35px;
    margin-bottom: 5px;
    border: 3px solid black;
}

.box2_5 {
    min-height: 310px;
    background-color: cadetblue;
    margin-top: 40px;
    border: 3px solid black;
}

.box2_6 {
    min-height: 220px;
    background-color: cadetblue;
    margin-top: 40px;
    border: 3px solid black;
}

.box2_7 {
    min-height: 70px;
    background-color: cadetblue;
    margin-top: 25px;
    border: 3px solid black;
}

.box2_8 {
    min-height: 70px;
    background-color: cadetblue;
    margin-top: 15px;
    border: 3px solid black;
}

.box2_9 {
    min-height: 220px;
    background-color: cadetblue;
    margin-top: 40px;
    border: 3px solid black;
}

.box2_10 {
    min-height: 330px;
    background-color: cadetblue;
    margin-top: 15px;
    border: 3px solid black;
}

.box2_11 {
    min-height: 170px;
    background-color: cadetblue;
    margin-top: 15px;
    border: 3px solid black;

}

/*content ends*/

/*footer starts*/

footer {
    min-height: 100px;
    background-color: dimgray;
}

.box_3 {
    min-height: 70px;
    background-color: cadetblue;
    margin-top: 17px;
    border: 3px solid black;

}

/*footer ends*/
